/* 
Project: One Page
Author: Abdulhakim KAYA
Date: 15 June 2023
Versin: v.1
*/

/* ###################### */

/* Root */
:root {
    --templateBgColor: #000000;
}

/* ###################### */

/* Common Property */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Manrope', sans-serif;
    line-height: 1.2;
    position: relative;
}

a {
    text-decoration: none !important;
}

ul {
    list-style-type: square;
}

img {
    width: 100%;
    height: auto;
}

img:hover {
    opacity: 0.9;
    box-shadow: 2px 2px 2px 2px purple;
    transition: 3s all;
    cursor: pointer;
}

i {
    font-size: 1.5rem;
}

.my_clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* Special Size */

.fontsize1 {
    font-size: 1rem;
}

.fontsize2 {
    font-size: 2rem;
}

.fontsize3 {
    font-size: 3rem;
}

.fontsize4 {
    font-size: 4rem;
}

.my_heading {
    text-shadow: 5px -5px rgba(0, 0, 0, 0.5);
}

/* Line Clamp */

.line_clamp3 {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    
}

.line_clamp5 {
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    
}

.line_clamp8 {
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    
}

/* ###################### */

/* Navbar */
.dark_mode {
    background-color: var(--templateBgColor);
    color: #ffffff;
}


 /* Header */

 header {
    background-image: url("./img/hacker.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    padding: 4rem;
}

#messages i {
    font-size: 3.5rem;
}

#parallax {
    background-color: transparent;
    background-image: url("./img/forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 3rem;
}

#newspaper {
    text-align: justify;
}

#blog {
    background-color: #594F63;

}

/* Footer */
footer {
    min-height: 15rem;
    width: auto;
    color: #ffffff;
}

/* Back Top */
#back_top {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#back_top:hover {
    opacity: 0.9;
}